* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 100vh;
  background-image: linear-gradient(to right, #fff7c8 0%, #fa709a 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin-top: 20px;
  display: flex;
  width: 80vw;
  height: 40vw;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* gap: 3rem; */
  background-color: #fff;
  color: black;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);
}
.card-image {
  width: 40vw;
  height: 40vw;
  background-image: url(src/Utils/image.jpeg);
  background-size: cover;
}
.input-contain {
  width: 40vw;
  height: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card input {
  height: 40px;
  margin-left: 20px;
  border: none;
  padding: 10px;
  margin: 20px;
  border-bottom: 3px solid gray;
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
}
.submit-btn {
  width: 80%;
  margin-top: 20px;
  margin-left: 10px;
  padding: 10px 10px;
  background: transparent;
  background: rgb(255, 90, 123);
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: bold;
}
.card input:focus {
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
}
